<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<html>
<head>
	<title>FoosballCloud</title>
	<link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="vendors/font-awesome/font-awesome-local.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body ng-app="foosballApp" ng-controller="mainCtrl">

	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="images/logo1.png"></i></a>
				<a class="navbar-brand visible-xs" ng-class="{active: page == 0 ? 'active' : ''}" href="#/players/0" ng-click="page = 0"><i class="fa fa-trophy"></i></a>
				<a class="navbar-brand visible-xs" ng-class="{active: page == 1 ? 'active' : ''}" href="#/players" ng-click="page = 1"><i class="fa fa-male"></i></a>
				<a class="navbar-brand visible-xs" ng-click="createSeriesModal()"><i class="fa fa-plus"></i></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav hidden-xs">
					<li ng-class="{active: page == 0 ? 'active' : ''}"><a href="#/players/0" ng-click="page = 0"><i class="fa fa-trophy"></i>Series</a></li>
					<li ng-class="{active: page == 1 ? 'active' : ''}"><a href="#/players" ng-click="page = 1"><i class="fa fa-male"></i>Players</a></li>
					<li ng-class="{active: page == 2 ? 'active' : ''}"><a href="#/charts" ng-click="page = 2"><i class="fa fa-line-chart"></i>Top Charts</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right hidden-xs">
					<li><a class="clickable"><i class="fa fa-plus" ng-click="createSeriesModal()"></i></a></li>
					<li><a href="#"><i class="fa fa-search" ng-click="createSeriesModal()"></i></a></li>
					<li><a href="#"><i class="fa fa-sign-out" ng-click="logout()"></i></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right visible-xs">
					<li ng-class="{active: page == 2 ? 'active' : ''}"><a href="#/charts" ng-click="page = 2"><i class="fa fa-line-chart"></i>Top Charts</a></li>
					<li><a href="#"><i class="fa fa-search" ng-click="createSeriesModal()"></i>Search</a></li>
					<li><a href="#"><i class="fa fa-sign-out" ng-click="logout()"></i> Sign Out</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div>
		<div class="col-sm-1 col-md-2"></div>
		<section ng-view class="col-sm-10 col-md-8"></section>
		<div class="col-sm-1 col-md-2"></div>
	</div>

	<footer>MarketShare FoosballCloud</footer>

	<!-- Add Series Modal -->
	<script type="text/ng-template" id="myModalContent.html">
				
	</script>

</div>

	<script type="text/javascript" src="vendors/angular/angular.min.js"></script>
	<script type="text/javascript" src="vendors/angular/angular-route.js"></script>
	<script type="text/javascript" src="vendors/angular/angular-cookies.js"></script>
	<script type="text/javascript" src="vendors/angular/ui-bootstrap-tpls-0.11.2.min.js"></script>
	<script type="text/javascript" src="vendors/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="vendors/bootstrap/js/bootstrap.js"></script>

	<script type="text/javascript" src="scripts/app.js"></script>
	<!-- controllers -->
	<script type="text/javascript" src="scripts/controllers/main.js"></script>
	<script type="text/javascript" src="scripts/controllers/login.js"></script>
	<script type="text/javascript" src="scripts/controllers/dashboard.js"></script>
	<script type="text/javascript" src="scripts/controllers/series.js"></script>
	<script type="text/javascript" src="scripts/controllers/charts.js"></script>
	<script type="text/javascript" src="scripts/controllers/players.js"></script>
	<script type="text/javascript" src="scripts/controllers/player.js"></script>
	<script type="text/javascript" src="scripts/controllers/newSeries.js"></script>
	<!-- modals -->
</body>
</html>