<div id="player">
	<div ng-if="playerId > 0">
		<img ng-src="images/{{playersData[playerId - 1].image}}" class="img img-circle" width="75px"> {{playersData[playerId - 1].name}}
	</div>

	<div class="playerOuter col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="serie in seriesData">
		<div class="playerInner">
			<div class="seriesInfoHolder">
				<span class="seriesTitle">Prize:</span>
				<span class="seriesValue">{{serie.prize}}</span>
			</div>
			<div class="seriesInfoHolder">
				<span class="seriesTitle">Games played:</span>
				<span class="seriesValue">{{serie.played}}/{{serie.length}}</span>
			</div>
			<div>
				<div class="seriesInfo teams">
					<div>
						<a ng-href="#/players/{{serie.team1player1}}">
							<img ng-src="images/{{playersData[serie.team1player1 - 1].image}}" class="img img-circle" width="70px">
						</a>
					</div>
					<div>
						<a ng-href="#/players/{{serie.team1player2}}">
							<img ng-src="images/{{playersData[serie.team1player2 - 1].image}}" class="img img-circle" width="70px">
						</a>
					</div>
				</div>
				<div class="seriesInfo gotoScore">
					<div>
						<a class="btn btn-default seriesButton" ng-href="#/series/{{serie.id}}">
							<span>View</span>
						</a>
					</div>
				</div>
				<div class="seriesInfo teams">
					<div>
						<a ng-href="#/players/{{serie.team2player1}}">
							<img ng-src="images/{{playersData[serie.team2player1 - 1].image}}" class="img img-circle" width="70px">
						</a>
					</div>
					<div>
						<a ng-href="#/players/{{serie.team2player2}}">
							<img ng-src="images/{{playersData[serie.team2player2 - 1].image}}" class="img img-circle" width="70px">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>