<div id="player">
	<div ng-if="playerId > 0">
		<img ng-src="images/{{playersData[playerId - 1].image}}" class="img img-circle" width="75px"> {{playersData[playerId - 1].name}}
	</div>

	<div class="playerOuter col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="serie in seriesData">
		<div class="playerInner">
			<div class="seriesInfoHolder">
				<a ng-href="#/series/{{serie.id}}" ng-class="{'blue': serie.done == 1 && serie.team1total > serie.team2total, 'red': serie.done == 1 && serie.team1total < serie.team2total}">
					<span ng-show="serie.done == 1">Final </span>
					{{serie.team1total}} - {{serie.team2total}}
					<span class="redeemIcon" ng-show="serie.done == 1 && serie.redeemed == 0"><img src="images/assets/paid-64x64.png" width="32px"></span>
				</a>
			</div>
			<div>
				<div class="seriesInfo teams">
					<div>
						<a ng-href="#/players/{{serie.team1player1}}">
							<img ng-src="images/{{playersData[serie.team1player1 - 1].image}}" class="img img-circle" width="70px">
						</a>
					</div>
					<div>
						<a ng-href="#/players/{{serie.team1player2}}">
							<img ng-src="images/{{playersData[serie.team1player2 - 1].image}}" class="img img-circle" width="70px">
						</a>
					</div>
				</div>
				<div class="seriesInfo seriesDetails">
					<div><i class="fa fa-trophy"></i>{{serie.prize}}</div>
					<div><i class="fa fa-futbol-o"></i>{{serie.played}}/{{serie.length}} </div>
					<div>
						<span class="advantage" ng-show="serie.adv1 > 0"><i class="fa fa-arrow-circle-left blue"></i>{{serie.adv1}}</span>
						<span class="advantage" ng-show="serie.adv2 > 0">{{serie.adv2}}<i class="fa fa-arrow-circle-right red"></i></span>
					</div>
				</div>
				<div class="seriesInfo teams">
					<div>
						<a ng-href="#/players/{{serie.team2player1}}">
							<img ng-src="images/{{playersData[serie.team2player1 - 1].image}}" class="img img-circle" width="70px">
						</a>
					</div>
					<div>
						<a ng-href="#/players/{{serie.team2player2}}">
							<img ng-src="images/{{playersData[serie.team2player2 - 1].image}}" class="img img-circle" width="70px">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>