<div id="series">
	<div>
		<div class="seriesInfo">
			<div><span class="fa fa-trophy" ng-class="{'fa-spin': seriesData[0].done == 1 && seriesData[0].redeemed == 0}"></span><span>{{seriesData[0].prize}}</span></div>
			<div><span class="fa fa-futbol-o" ng-class="{'fa-spin': seriesData[0].done == 0}"></span><span>{{seriesData[0].length}}</span></div>
			<div><span>{{wins[0]}} - {{wins[1]}}</span></div>	
		</div>
		<div>
			<div class="col-xs-3 teams">
				<div>
					<a ng-href="#/players/{{seriesData[0].team1player1}}">
						<img ng-src="images/{{playersData[seriesData[0].team1player1 - 1].image}}" class="img img-circle">
					</a>
				</div>
				<div>
					<a ng-href="#/players/{{seriesData[0].team1player2}}">
						<img ng-src="images/{{playersData[seriesData[0].team1player2 - 1].image}}" class="img img-circle">
					</a>
				</div>
			</div>
			<div class="col-xs-6 scores">
				<div class="seriesAdv">
					<span class="advantage" ng-show="seriesData[0].adv1 > 0"><i class="fa fa-arrow-circle-left"></i>{{seriesData[0].adv1}}</span>
					<span class="advantage" ng-show="seriesData[0].adv2 > 0">{{seriesData[0].adv2}}<i class="fa fa-arrow-circle-right"></i></span>
				</div>
				<div ng-repeat="series in seriesData" ng-show="seriesData[0].series_id">
					{{series.team1score}} - {{series.team2score}}
				</div>
				<div ng-show="enterScore">
					<select class="form-control" ng-model="newScoreT1" ng-init="newScoreT1 = 0" ng-options="score for score in scores"></select>
					 - 
					<select class="form-control" ng-model="newScoreT2" ng-init="newScoreT2 = 0" ng-options="score for score in scores"></select>
				</div>
				<div class="enterScoreButtons" ng-show="enterScore">
					<i class="fa fa-check-circle clickable" ng-click="submitScore()"></i>
					<i class="fa fa-times-circle clickable" ng-click="cancelScore()"></i>
				</div>
				<div class="clickable" ng-hide="enterScore || seriesData[0].done == 1" ng-click="recordScore()">Record score</div>
				<button ng-show="seriesData[0].done == 1 && seriesData[0].redeemed == 0" class="btn btn-primary" ng-click="redeem()">Mark as Redeemed</button>
			</div>
			<div class="col-xs-3 teams">
				<div>
					<a ng-href="#/players/{{seriesData[0].team2player1}}">
						<img ng-src="images/{{playersData[seriesData[0].team2player1 - 1].image}}" class="img img-circle">
					</a>
				</div>
				<div>
					<a ng-href="#/players/{{seriesData[0].team2player2}}">
						<img ng-src="images/{{playersData[seriesData[0].team2player2 - 1].image}}" class="img img-circle">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>