/* main */
footer {
	clear: both;
	color: rgba(100,100,100,1.0);
	text-align: center;
	font-size: small;
}

/* navigation */
nav img {
	width: 50px;
	margin-top: -0.85em;
}

nav {
	border-radius: 0 !important;
}

nav .navbar-nav {
	font-size: 1.4em;
}

nav .navbar-nav .fa {
	padding-right: 0.3em;
}

nav .navbar-right .fa {
	font-size: 1.3em;
	margin-left: 0.5em;
}

nav a.navbar-brand.visible-xs {
	border-right: 1px solid #999;
	width: 20%;
	text-align: center;
	font-size: 1.5em;
}

nav a.navbar-brand.visible-xs:last-child {
	border-right: 0;
}

nav a.navbar-brand.visible-xs.active {
	color: #fff;
	background-color: #080808;
}

nav .navbar-right a {
	padding: 0.6em 0.7em;
}

nav .navbar-right a:last-child {
	padding-right: 0;
}

nav .navbar-header .spacer {
	width: 30% !important;
}

/* players */
#players .playerBox {
	padding-bottom: 2em;
}

#players .playerBox .playerImage {
	clear: both;
	text-align: center;
}

#players .playerBox .playerName {
	clear: both;
	text-align: center;
	padding-top: 0.2em;
	font-size: 1.3em;
	font-weight: bold;
}

/* new series modal */

#newSeries .newSeriesInfo {
	width: 70%;
}

#newSeries tr td {
	padding-bottom: 1em;
}

#newSeries .playerSelected {
	border: 5px solid green;
}

#newSeries .title {
	font-weight: bold;
	padding-right: 1em;
	vertical-align: middle;
}

#newSeries .teamTitle {
	text-align: center;
	font-weight: bold;
}

#newSeries img {
	margin: 0.5em;
}

#newSeries .teams {
	display:inline-block;
	width:49%;
	text-align: center;
}

#newSeries #teams .advantage {
	width: 40% !important;
	border-color: red !important;
}

#newSeries .teams:first-child {
	background-color: rgba(196,22,83,0.4);
	border-radius: 2%;
}

#newSeries .teams:last-child {
	background-color: rgba(17,65,196,0.4);
	border-radius: 2%;
}

/* player */
#player .seriesInfoHolder {
	padding-left: 2em;
}

#player .seriesInfoHolder .fa {
	font-size: 1.5em;
	margin-right: 0.5em;
}

#player .seriesValue {
	font-size: 1.2em;
	font-weight: bold;
}

#player .playerOuter {
	padding: 1em;
}

#player .playerInner {
	background-color: #DDD;
	padding: 2em;
	border-radius: 3px;
}

#player .seriesInfo {
	width: 32%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 1em;
}

#player .seriesInfo .seriesScore {
	font-size: 1.5em;
	text-align: center;
}

#player .seriesInfo:first-child {
	border-right: 2px dashed #999;
}

#player .seriesInfo:last-child {
	border-left: 2px dashed #999;
}

#player .seriesInfo img {
	margin: 0.5em 0;
}

#player .seriesButton {
	width: 70px;
	height: 70px;
	padding-top: 1.3em;
	margin-top: 1em;
	border-radius: 50%;
}

#player .seriesButton span {
	font-size: 1.5em;
}

/* series */
#series .seriesInfo {
	width: 100%;
	font-size: 2em;
	text-align: center;
}

#series .seriesInfo .fa {
	margin-right: 0.5em;
}

#series .teams {
	text-align: center;
}

#series .teams img {
	width: 100%;
	max-width: 150px;
	margin: 0.5em;
}

#series .teams:first-child {
	border-right: 1px dashed #999;
}

#series .teams:last-child {
	border-left: 1px dashed #999;
}

#series .seriesAdv {
	font-size: 1.3em;
}

#series .scores {
	text-align: center;
	font-size: 1.5em;
}

#series .scores select {
	display: inline-block;
	width: 40%;
}

#series .scores .enterScoreButtons .fa {
	font-size: 2.5em;
}

#series .scores .enterScoreButtons .fa.fa-check-circle {
	color: green;
	margin-right: 0.5em;
}

#series .scores .enterScoreButtons .fa.fa-times-circle {
	color: red;
}

/* search */
#search img {
	margin: 1em;
	border: 8px solid rgba(0,0,0,0);
}

#search img.playerSelected {
	border: 8px solid green;
}

/* globals */
.clickable {
	cursor: pointer;
}

.fa-spin {
	color: rgba(44,91,232,1.0);
}