nav img {
	width: 50px;
	margin-top: -0.85em;
}

nav .navbar-right .fa {
	font-size: 1.3em;
	margin-left: 0.5em;
}

nav {
	border-radius: 0 !important;
}

nav a.navbar-brand.visible-xs {
	border-right: 1px solid #999;
	width: 20%;
	text-align: center;
	font-size: 1.5em;
}

nav a.navbar-brand.visible-xs:last-child {
	border-right: 0;
}

nav a.navbar-brand.visible-xs.active {
	color: #fff;
	background-color: #080808;
}

/* globals */
.clickable {
	cursor: pointer;
}